{{define "missives/layout/index"}}
<div class="flex flex-col items-start gap-8">
	<nav class="w-full font-mono">
		<ul class="flex justify-between">
			<li>
				<a href="/" class="text-inherit no-underline">
					<div class="flex items-center gap-2">
						<span>←️</span>
						<img
							src="https://jclem.nyc3.cdn.digitaloceanspaces.com/profile/profile-1024.webp"
							alt="Photograph of Jonathan Clem"
							class="rounded-full h-4 w-4" />
						<span>Jonathan Clem</span>
					</div>
				</a>
			</li>
		</ul>
	</nav>

	<main class="w-full">{{.}}</main>
</div>
{{end}}
