{{define "root"}}
<!DOCTYPE html>

<html lang="en" class="[scrollbar-gutter:stable]">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="{{.Description}}" />
		<link rel="stylesheet" href="{{mustGetStyles}}" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Martian+Mono:wght@400;700&display=swap" rel="stylesheet" />
		<link rel="alternate" type="application/xml" title="Sitemap" href="/sitemap.xml" />
		<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/rss.xml" />
		<link rel="icon" sizes="16x16" href="https://jclem.nyc3.cdn.digitaloceanspaces.com/profile/profile-16.png" type="image/png" />
		<link rel="icon" sizes="32x32" href="https://jclem.nyc3.cdn.digitaloceanspaces.com/profile/profile-32.png" type="image/png" />
		<link rel="icon" sizes="64x64" href="https://jclem.nyc3.cdn.digitaloceanspaces.com/profile/profile-64.png" type="image/png" />
		<link rel="icon" sizes="128x128" href="https://jclem.nyc3.cdn.digitaloceanspaces.com/profile/profile-128.png" type="image/png" />
		<link rel="icon" sizes="256x256" href="https://jclem.nyc3.cdn.digitaloceanspaces.com/profile/profile-256.png" type="image/png" />
		<link rel="icon" sizes="512x512" href="https://jclem.nyc3.cdn.digitaloceanspaces.com/profile/profile-512.png" type="image/png" />
		<link rel="apple-touch-icon" href="https://jclem.nyc3.cdn.digitaloceanspaces.com/profile/profile-apple-touch-icon.png" />
		<script src="{{mustGetScripts}}" defer></script>
		<title>{{.Title}} · jclem.me</title>
	</head>
	<body>
{{ .Content -}}
	</body>
</html>
{{end}}
