{{define "root"}}
<!DOCTYPE html>

<html lang="en" class="[scrollbar-gutter:stable]">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="{{.Description}}" />
		<link rel="stylesheet" href="/public/styles/index.css" />
		<title>{{.Title}}</title>
	</head>
	<body>
{{ .Content -}}
	</body>
</html>
{{end}}
