{{define "sitemap.xml"}}
<urlset
	xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
	xmlns:news="http://www.google.com/schemas/sitemap-news/0.9"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	xmlns:image="http://www.google.com/schemas/sitemap-image/1.1"
	xmlns:video="http://www.google.com/schemas/sitemap-video/1.1"
>
	<url>
		<loc>{{url "/"}}</loc>
		<changefreq>yearly</changefreq>
		<priority>1.0</priority>
	</url>
	<url>
		<loc>{{ url "/writing" }}</loc>
		<changefreq>monthly</changefreq>
	</url>


	{{range .}}
	<url>
		<loc>{{printf "/writing/%s" .Slug | url}}</loc>
		<lastmod>{{.PublishedAt.Format "2006-01-02T15:04:05Z07:00"}}</lastmod>
		<changefreq>yearly</changefreq>
	</url>
	{{end}}
</urlset>
{{end}}
